[user]
	name = Mike Fisher
	email = mike@mbfisher.com
[core]
	excludesfile = /home/mbfisher/.gitignore
[alias]
	diff = diff --color
	orig = "!find . -type f -name \"*.orig\" -exec rm -i {} \\;"
    add = add --all .
    ffs = flow feature start
    fff = flow feature finish
[push]
	default = simple
[pull]
    default = simple
[merge]
	tool = meld
