_auth = bWJmaXNoZXI6aDJnMm5wbQ==
prefix = ~/.npm
email = michael.fisher@bskyb.com
#registry = http://gueacontroltst01.skybet.net:5984/

[_token]
AuthSession = UNUSED_SO_FAR
path = /
expires = 1420625751677
