//localhost:3000/:_password="dGVzdA=="
//localhost:3000/:username=mbfisher
//localhost:3000/:email=mike@mbfisher.com
//localhost:3000/:always-auth=false
//registry.npmjs.org/:_authToken=b69397c3-8256-44d7-ad20-6d35bdf96af4
