[user]
    name = Mike Fisher
    email = mfisher@gocardless.com
[core]
	excludesfile = /Users/mbfisher/.gitignore
[alias]
    lg = log --graph --pretty=format:'%C(dim)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --no-merges

    a = add --all .
    c = commit
    cr = "! git stash && git fetch && git rebase origin/master && git stash pop && git commit $@"
    cm = commit -m
    ca = c --amend
    cb = checkout -b
    d = diff
    ds = diff --staged
    s = status
    ps = push -u
    pf = push --force-with-lease
    pt = push --tags
    pl = pull
    pr = pull --rebase --autostash
	diff = diff --color
    add = add --all .
    squash = "! git-squash"
    as = "! git add -u . && git s"
    master = "! git checkout master && git pull --rebase"

[push]
	default = current
[pull]
    default = current
[rerere]
	enabled = true
	autoupdate = true

# Something to do with cloning Go Modules at Mercarto
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
