[user]
    name = Mike Fisher
    email = mike@mbfisher.com
[core]
    excludesfile = ~/.gitignore
[alias]
    l = log -p --no-merges
    a = add --all .
    c = commit
    d = diff
    ds = diff --staged
    s = status
    ps = push
    pf = push -f
    pt = push --tags
    pl = pull
    pr = pull --rebase
	diff = diff --color
    add = add --all .
[push]
    default = current
[pull]
    default = current
